<div class="container-fluid">
  <app-carousel></app-carousel>
  <nav class="navbar navbar-expand-md bg-blue navbar-dark">
      <a class="navbar-brand" href="#">Him Shop</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
    
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">Trang chủ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact-list">Liên hệ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact-create">Giỏ hàng</a>
          </li>
          <li class="nav-item">
            <a *ngIf="!user" class="nav-link" routerLink="/login">Đăng nhập</a>
            <a *ngIf="user" class="nav-link" routerLink="/admin">Quản lý</a>                
          </li>
    
        </ul>     
      </div>  
      <span class="welcomebox" *ngIf="user"><a class="nav-link" style="color: #fff;font-style: italic;text-decoration: underline;" routerLink="/login">Xin chao: {{user.name}}</a></span>
    </nav>
   <!-- Search form -->
  
<!-- Search form -->
<form class="form-inline md-form form-sm active-purple-2 float-lg-right searchbox">
  <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search"
    mdbInput>
  <mdb-icon fas icon="search" aria-hidden="true"></mdb-icon>
</form>
    <!-- <lib-breadcrumbs></lib-breadcrumbs> -->
  
</div>
<div style="clear: both;"></div>