<div class="container-fluid">
  <footer>

    <!-- top footer -->
    <div class="section">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row">
          <div class="col-md-3 col-xs-6">
            <div class="footer">
              <h3 class="footer-title">About Us</h3>
              <p>Welcome to Him Company</p>
              <ul class="footer-links">
                <li><a href="#"><i class="fa fa-map-marker"></i>To Ki</a></li>
                <li><a href="#"><i class="fa fa-phone"></i>+0905519712</a></li>
                <li><a href="#"><i class="fa fa-envelope-o"></i>him0712@gmail.com</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-xs-6">
            <div class="footer">
              <h3 class="footer-title">Categories</h3>
              <ul class="footer-links">
                <li><a href="#"><i class="fa fa-gift" aria-hidden="true"></i>Hot deals</a></li>
                <li><a href="#"><i class="fa fa-laptop" aria-hidden="true"></i>Laptops</a></li>
                <!-- <li><a href="#"><i class="fa fa-mobile" aria-hidden="true"></i>Smartphones</a></li> -->
                <!-- <li><a href="#"><i class="fa fa-camera" aria-hidden="true"></i>Cameras</a></li> -->
                <li><a href="#"><i class="fa fa-calendar-o" aria-hidden="true"></i>Accessories</a></li>
              </ul>
            </div>
          </div>
          <div class="clearfix visible-xs"></div>
          <div class="col-md-3 col-xs-6">
            <div class="footer">
              <h3 class="footer-title">Information</h3>
              <ul class="footer-links">
                <li><a href="#"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;About Us</a>
                </li>
                <li><a href="#"><i class="fa fa-address-book" aria-hidden="true"></i>Contact Us</a></li>
                <li><a href="#"><i class="fa fa-handshake-o" aria-hidden="true"></i>Privacy Policy</a>
                </li>
                <li><a href="#"><i class="fa fa-shopping-basket" aria-hidden="true"></i>Orders and
                    Returns</a></li>
                <li><a href="#"><i class="fa fa-shield" aria-hidden="true"></i>Terms & Conditions</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-xs-6">
            <div class="footer">
              <h3 class="footer-title">Service</h3>
              <ul class="footer-links">
                <li><a href="#"><i class="fa fa-users" aria-hidden="true"></i>My Account</a></li>
                <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i>View Cart</a></li>
                <li><a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i>Wishlist</a></li>
                <li><a href="#"><i class="fa fa-sort" aria-hidden="true"></i>Track My Order</a></li>
                <li><a href="#"><i class="fa fa-info-circle" aria-hidden="true"></i>Help</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /bottom footer -->
      <p  class="text-xs-center">© Him Shop Copyright 2020. All rights reserved.</p>
    </footer>
</div>