<section id="product-wrapper">
    <div class="wrapper container-fluid">
        <div class="inner">
            <div class="product-detail-inner">
                <div class="col-lg-12 row">
                    <div class="col-lg-6 flex-sm-nowrap">
                        <div class="product-images flex-sm-nowrap">
                            <lib-ngx-image-zoom
                            [thumbImage]=product.fullimage
                            [fullImage]=product.fullimage
                            [enableScrollZoom]="true"
                            [enableLens]="true"
                            [lensWidth]="200"
                        ></lib-ngx-image-zoom>
                        </div>
                    </div>
                    <div class="col-lg-6 flex-sm-nowrap">
                        <div class="product-content">
                            <div class="pro-content-head clearfix">
                                <h3>{{product.name}}</h3>                               
                            </div>
                            <div class="pro-brand">
                                <span>Thương hiệu:</span> {{product.brand}}
                            </div>   
                            <div class="pro-price clearfix">
                                <span class="current-price">{{product.price}}</span>									
                            </div> 
                            <div class="pro-short-desc" [innerHTML]=product.description>
                            </div> 
                            <div class="add-to-cart">
                                <div class="qty-label">                                    
                                    <div class="md-form">
                                        <input type="number" class="form-control" id="numberInputEx" mdbInput>
                                        <label for="numberInputEx">Số lượng</label>
                                      </div>
                                    <!-- <div class="input-number">
                                        <input type="number">
                                        <span class="qty-up">+</span>
                                        <span class="qty-down">-</span>
                                    </div> -->
                                </div>
                                <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                            </div>
                            <ul class="product-btns">
                                <li><a href="#"><i class="fa fa-heart-o"></i> add to wishlist</a></li>
                                <li><a href="#"><i class="fa fa-exchange"></i> add to compare</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-12" style="padding: 10px;">
                    <mat-tab-group mat-align-tabs="center">
                        <mat-tab label="Description">
                           <div class="container-fluid" style="font-size: 16px;margin-top: 5px;" [innerHTML]=product.describe>                           
                           </div>
                        </mat-tab>
                        <mat-tab label="Details">
                            <div class="container-fluid" [innerHTML]=product.detail style="margin-top: 5px;">                               
                            </div>
                        </mat-tab>
                        <mat-tab label="Reviews (3)">
                            <div class="row float-left" style="margin-top: 5px;">
                                <!-- Rating -->
                                <div class="col-md-3">
                                    <div id="rating">
                                        <div class="rating-avg">
                                            <span>4.0</span>
                                            <div class="rating-stars">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                        </div>
                                        <ul class="rating">
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div style="width: 80%;"></div>
                                                </div>
                                                <span class="sum">3</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div style="width: 60%;"></div>
                                                </div>
                                                <span class="sum">2</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div></div>
                                                </div>
                                                <span class="sum">0</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div></div>
                                                </div>
                                                <span class="sum">0</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div></div>
                                                </div>
                                                <span class="sum">0</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /Rating -->
                                <!-- Reviews -->
                                <div class="col-md-6">
                                    <div id="reviews">
                                        <ul class="reviews">
                                            <li>
                                                <div class="review-heading">
                                                    <h5 class="name">Him</h5>
                                                    <p class="date">23 July 2020, 8:0 PM</p>
                                                    <div class="review-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o empty"></i>
                                                    </div>
                                                </div>
                                                <div class="review-body">
                                                    <p>tuyệt vời</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="review-heading">
                                                    <h5 class="name">Tinh Tế</h5>
                                                    <p class="date">24 July 2020, 7:24 PM</p>
                                                    <div class="review-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o empty"></i>
                                                    </div>
                                                </div>
                                                <div class="review-body">
                                                    <p>Chưa thực sự ưng ý về tầm giá </p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="review-heading">
                                                    <h5 class="name">eiu bé</h5>
                                                    <p class="date">24 July 2020, 4:24 PM</p>
                                                    <div class="review-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o empty"></i>
                                                    </div>
                                                </div>
                                                <div class="review-body">
                                                    <p>ngon bổ rẻ</p>
                                                </div>
                                            </li>
                                        </ul>
                                        <ul class="reviews-pagination">
                                            <li class="active">1</li>
                                            <li><a>2</a></li>
                                            <li><a >3</a></li>
                                            <li><a>4</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /Reviews -->
                                <!-- Review Form -->
                                <div class="col-md-3">
                                    <div id="review-form">
                                        <form class="review-form">
                                            <input class="input" type="text" placeholder="Your Name">
                                            <input class="input" type="email" placeholder="Your Email">
                                            <textarea class="input" placeholder="Your Review"></textarea>
                                            <div class="input-rating">
                                                <span>Your Rating: </span>
                                                <mat-checkbox class="example-margin"></mat-checkbox>
                                                <mat-checkbox class="example-margin"></mat-checkbox>
                                                <mat-checkbox class="example-margin"></mat-checkbox>
                                                <mat-checkbox class="example-margin"></mat-checkbox>
                                                <mat-checkbox class="example-margin"></mat-checkbox>
                                                <!-- <div class="stars">
                                                    <input id="star5" name="rating" value="5" type="radio"><label
                                                        for="star5"></label>
                                                    <input id="star4" name="rating" value="4" type="radio"><label
                                                        for="star4"></label>
                                                    <input id="star3" name="rating" value="3" type="radio"><label
                                                        for="star3"></label>
                                                    <input id="star2" name="rating" value="2" type="radio"><label
                                                        for="star2"></label>
                                                    <input id="star1" name="rating" value="1" type="radio"><label
                                                        for="star1"></label>
                                                </div> -->
                                            </div>
                                            <button class="primary-btn">Submit</button>
                                        </form>
                                    </div>
                                </div>
                                <!-- /Review Form -->
                            </div>
                        </mat-tab>
                      </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</section>